.wrapper .mg-search-block,
.cat-title{
    background: #bf0335;
    background: -moz-linear-gradient(top,  #bf0335 0%, #8f0222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf0335), color-stop(100%,#8f0222));
    background: -webkit-linear-gradient(top,  #bf0335 0%,#8f0222 100%);
    background: -o-linear-gradient(top,  #bf0335 0%,#8f0222 100%);
    background: -ms-linear-gradient(top,  #bf0335 0%,#8f0222 100%);
    background: linear-gradient(to bottom,  #bf0335 0%,#8f0222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0335', endColorstr='#8f0222',GradientType=0 );
    box-shadow: 0 3px 0 #6d0019;
}

.wrapper .container .center .personal-tabs-list li.ui-state-active a,
.product-tabs li.active a{
    border-top: 3px solid #E42B5C;
}

.wrapper .ui-slider .ui-slider-range,
.wrapper .container .center .personal-tabs-list li a:hover,
.product-tabs li a:hover{
    background: #CD1042;
}

.wrapper .mg-product-to-compare .mg-compare-count,
.wrapper .mg-desktop-cart .small-cart-icon .countsht{
    background: #B40331;
}

.product-wrapper .block-variants,
.m-p-products:hover .owl-buttons .owl-prev,
.m-p-products:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-prev,
.product-wrapper:hover{
    border: 1px solid #B40331;
}