.wrapper .mg-search-block,
.cat-title{
    background: #ff0084;
    background: -moz-linear-gradient(top,  #ff0084 0%, #ed007a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0084), color-stop(100%,#ed007a));
    background: -webkit-linear-gradient(top,  #ff0084 0%,#ed007a 100%);
    background: -o-linear-gradient(top,  #ff0084 0%,#ed007a 100%);
    background: -ms-linear-gradient(top,  #ff0084 0%,#ed007a 100%);
    background: linear-gradient(to bottom,  #ff0084 0%,#ed007a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#ed007a',GradientType=0 );
    box-shadow:0 3px 0 #BB186C;
}

.wrapper .container .center .personal-tabs-list li.ui-state-active a,
.product-tabs li.active a{
    border-top: 3px solid #FC0082;
}

.wrapper .ui-slider .ui-slider-range,
.wrapper .container .center .personal-tabs-list li a:hover,
.product-tabs li a:hover{
    background: #BB186C;
}

.wrapper .mg-product-to-compare .mg-compare-count,
.wrapper .mg-desktop-cart .small-cart-icon .countsht{
    background: #EF007B;
}

.product-wrapper .block-variants,
.m-p-products:hover .owl-buttons .owl-prev,
.m-p-products:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-prev,
.product-wrapper:hover{
    border: 1px solid #F6007F;
}