.wrapper .mg-search-block,
.cat-title{
    background: #9eea4d;
    background: -moz-linear-gradient(top,  #9eea4d 0%, #6ac138 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eea4d), color-stop(100%,#6ac138));
    background: -webkit-linear-gradient(top,  #9eea4d 0%,#6ac138 100%);
    background: -o-linear-gradient(top,  #9eea4d 0%,#6ac138 100%);
    background: -ms-linear-gradient(top,  #9eea4d 0%,#6ac138 100%);
    background: linear-gradient(to bottom,  #9eea4d 0%,#6ac138 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eea4d', endColorstr='#6ac138',GradientType=0 );
    box-shadow: 0 3px 0 #579D30;
}

.wrapper .container .center .personal-tabs-list li.ui-state-active a,
.product-tabs li.active a{
    border-top: 3px solid #71C73B;
}

.wrapper .ui-slider .ui-slider-range,
.wrapper .container .center .personal-tabs-list li a:hover,
.product-tabs li a:hover{
    background: #579D30;
}

.wrapper .mg-product-to-compare .mg-compare-count,
.wrapper .mg-desktop-cart .small-cart-icon .countsht{
    background: #579D30;
}

.product-wrapper .block-variants,
.m-p-products:hover .owl-buttons .owl-prev,
.m-p-products:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-next,
.m-p-products-slider:hover .owl-buttons .owl-prev,
.product-wrapper:hover{
    border: 1px solid #579D30;
}